extends ../layout

block meta
	- var title = 'google ads size 200x200';
	- var width = 200;
	- var height = 200;

block content
	a(href="http://prize.fuelchoicesinitiative.com/").banner
		.wrapper
			.world
			.title1
				span.title1_text1-wrap
					.title1_text1 $ 1 million <span>prize</span>
			.title2
				.title2_text1 The biggest <span>Prize in the world</span>
				.title2_text2 For innovation in
					.title2_text3 The field of alternative fuels for transportation
			.deadline-wrap
				.deadline The deadline for nomination
				.date May 15, 2016
				.button Nominate now
			.logos
				img.logo1(src="img/choices.png")
				img.logo2(src="img/ministry.png")

