extends ../layout

block meta
	- var title = 'google ads size 580x40';
	- var width = 580;
	- var height = 40;

block content
	a(href="http://prize.fuelchoicesinitiative.com/").banner
		.wrapper
			.world-wrap
				.world
			.title1 $ 1 million <span>prize</span>
			.title2
				.title2_text1 The biggest Prize
				.title2_text2 in the world
			.title3
				.title3_text1 For innovation in the field of alternative
				.title3_text2 fuels for transportation
			.deadline-wrap
				.deadline The deadline for nomination
				.date May 15, 2016
			.logos
				img.logo1(src="img/choices.png")
				img.logo2(src="img/ministry.png")

