extends ../layout

block meta
	- var title = 'google ads size 250x360';
	- var width = 250;
	- var height = 360;

block content
	a(href="http://prize.fuelchoicesinitiative.com/").banner
		.wrapper
			.title1
				.title1_text1 $ 1 million
				.title1_text2 prize
			.title2
				.title2_text1 The biggest Prize in the wold
				.title2_text2 For innovation in 
				.title2_text3 The field of alternative fuels for transportation
			.deadline-wrap
				.deadline The deadline for nominations:
				.date May 15, 2016
				.button Nominate now
			.logos
				img.logo1(src="img/choices.png")
				img.logo2(src="img/ministry.png")

